/*start main styling properties*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Permanent Marker', cursive;
    font-size: calc(0.5em + 1vw);
    list-style-type: none;
}
:root{
    --mint:#37E2D5;
    --purple:#590696;
    --maroon:#C70A80;
    --yellow:#FBCB0A;
}
@media (min-width: 576px) {
    .container{
        width: 540px;
        margin: auto;
    }
}
@media (min-width: 768px) {
    .container{
        width: 720px;
        margin: auto;
    }
}
@media (min-width: 992px) {
    .container{
        width: 960px;
        margin: auto;
    }
}
@media (min-width: 1200px) {
    .container{
        width: 1140px;
        margin: auto;
    }
}
@media (min-width: 1400px) {
    .container{
        width: 1320px;
        margin: auto;
    }
}
/*end main styling properties*/
/*start whole page style*/
    .page{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        background-color: var(--yellow);
        position: relative;
    }
    .container{
        position: relative;
    }
/*end whole page style*/

/*start menu of game*/
    /*background of menu of game*/
    .start-menu{
        width: 100%;
        height: 100vh;
        overflow: hidden;
        position: absolute;
        z-index: 1;
    }
    .hide-menu{
        transition: z-index 0s ease 2s;
        z-index: -1;
    }
    .upper-part,.lower-part{
        height: 50vh;
        width: 100%;
        translate: 0px 0px;
        transition:  translate 1s ease-in-out;
    }
    .upper-part{
        background-color: var(--maroon);
    }
    .upper-part h1 {
        width: fit-content;
        margin: 0px auto;
        padding-top: 10px;
        color: white;
        font-size: 3rem;
    }
    .upper-part-active{
        translate: 0px -110%;
        transition:  translate 1s ease-in-out 1s;
    }
    .lower-part{
        background-color: var(--purple);
        color: white;
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
        font-size: 0.7rem;
        padding: 0 10px;
    }
    .lower-part-active{
        translate: 0px 110%;
        transition:  translate 1s ease-in-out 1s;
    }
    /*menu whole list*/
    .menu{
        position: absolute;
        top: 50%;
        left: 50%;
        translate: -50% -50%;
        transform: scale(1) rotate(0deg);
        transform-origin: center;
        display: flex;
        flex-direction: column;
        align-items: center;
        transition: transform 1s ease-in-out 1s;
    }
    .new-menu{
        transform: scale(0) rotate(2turn);
        transition: transform 1s ease-in-out;
    }
    .btn{
        overflow: hidden;
    }
    .btn:not(:last-of-type) {
        margin-bottom: 20px;
    }
    button,.level-li,.setting-li{
        font-size: 2rem;
        padding: 5px 40px;
        border-width: 0px;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.25s;
        background-color: var(--yellow);
        color: black;
        display: block;
        user-select: none;
    }
    button{
        margin-bottom: 10px;
    }
    button:hover ,.level-li:hover, .setting-li:hover{
        color: white;
        background-color: var(--mint);
    }
    .level,.setting-list{
        text-align: center;
        max-height: 0;
        transition: 0.3s linear;
        user-select: none;
    }
    .btn-start-active{
        max-height: 30vh;
    }
    .btn-setting-active{
        max-height: 10vh;
    }
    .level-li,.setting-li{
        font-size: 1rem;
        padding: 5px 10px;
        width: fit-content;
        margin: auto;
    }
    .level-li:not(:last-of-type){
        margin-bottom: 10px;
    }
    .continue{
        display: none;
    }
    .continue-active{
        display: block;
    }
/*end menu of game*/

/*start exit menu*/
    .exit-gate{
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 100;
        display: flex;
        transition:z-index 0s;
        cursor: pointer;
    }
    .index-gate{
        z-index: -1;
        transition: z-index 0s ease-in-out 2s;
    }
    .left-gate,.right-gate{
        width: 50%;
        height: 100vh;
        background-color: var(--yellow);
    }
    .left-gate{
        translate: 0px 0px;
        transition: translate 1s ease-in-out;
    }
    .left-gate-close{
        transition: translate 1s ease-in-out 1s;
        translate: -110%  0px;
    }
    .right-gate{
        translate: 0px 0px;
        transition: translate 1s ease-in-out;
    }
    .right-gate-close{
        translate: 110%  0px;
        transition: translate 1s ease-in-out 1s;
    }
    p{
        position: absolute;
        top: 50%;
        left: 50%;
        transform-origin: center;
        translate: -50% -50% ;
        transform:scale(1);
        text-align: center;
        font-size: 2rem;
        line-height: 2;
        transition: transform 1s ease-in-out 1s;
    }
    .para-active{
        transform:scale(0);
        transition: transform 1s ease-in-out;
    }
    .para-animation{
        animation: blink 1s ease-in-out infinite alternate-reverse;
    }
    @keyframes blink {
        0%{
            opacity: 1;
        }
        100%{
            opacity: 0;
        }
    }
/*end exit menu*/

/*start main section*/
    .main{
        width: 100%;
        height: 100vh;
        display: flex;
        flex-direction: column;
        border-width: 0px 2px;
        border-color: var(--purple);
        border-style: solid;
    }
    .main-btns,.main-data{
        height: 10vh;
        padding: 10px 10px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    .main-btns{
        border-bottom: 2px solid var(--purple);
    }
    .main-btn{
        font-size: 1.2rem;
        background-color: var(--purple);
        color: white;
        padding: 5px 10px ;
        margin-bottom: 0;
    }
    .show-level{
        font-size: 1.5rem;
        color: var(--purple);
        letter-spacing: 0.3rem;
    }
    .main-data{
        color: var(--purple);
        border-top: 2px solid var(--purple);
    }
    .data span{
        color: var(--maroon);
    }
    .main-cards{
        height: 80vh;
        position: relative;
        overflow: hidden;
        width: 100%;
        padding:10px 15px;
        perspective: 2000px;
        display: grid;
        justify-content:center;
        align-content: center;
        grid-row-gap: 10px;
        grid-column-gap: 15px;
        grid-template-rows: repeat(4,minmax(100px,100px));
        grid-template-columns: repeat(5,minmax(50px,100px));
    }
    .main-cards-four{
        grid-template-columns: repeat(5,minmax(50px,100px));
        grid-template-rows: repeat(4,minmax(100px,100px));
    }
    .main-cards-six{
        grid-template-columns: repeat(6,minmax(50px,100px));
        grid-template-rows: repeat(5,minmax(100px,100px));
    }
    .main-cards-eight{
        grid-template-columns: repeat(8,minmax(50px,100px));
        grid-template-rows: repeat(5,minmax(100px,100px));
    }
    @media (max-width:768px){
        .main-cards{
            grid-template-columns: repeat(5,minmax(50px,100px));
        }
    }
    .card{
        max-height: 100px;
        position: relative;
        transform-style: preserve-3d;
        transition: 0.25s;
        transform-origin: center right;
        border-radius: 5px;
        cursor: pointer;
    }
    .face-card,.back-card{
        width: 100%;
        height: 100%;
        position: absolute;
        border-radius: 5px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .face-card{
        background-color: var(--purple);
        backface-visibility: hidden;
        z-index: 2;
    }
    .back-card{
        background-color: white;
        transform: rotateY(180deg);
    }
    .card:hover{
        transform:translateX(-100%) rotateY(180deg);
    }
    .back-card img ,.face-card img{
        display: block;
        height: auto;
        width: 90%;
    }
    .counter-parent,.pause-screen{
        width: 100%;
        height: 100%;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color:#5a0696;
    }
    .counter-parent{
        font-size: 3rem;
        color: var(--purple);
        z-index: 2;
        color: white;
        clip-path: circle(0% at 50% 50%);
        transition: clip-path 0.5s linear;
    }
    .start-count{
        animation: count 1s linear infinite backwards;
    }
    .end-count{
        transition: clip-path 0.25s linear;
        clip-path: circle(100% at 50% 50%);
    }
    @keyframes count {
        0%{
            opacity: 1;
            scale: 3;
        }
        100%{
            scale: 0;
            opacity: 0.2;
        }
    }
    .pause-screen{
        clip-path: circle(0% at 0 0);
        transition: clip-path 1s ease-in-out;
        z-index: 3;
    }
    .pause-screen .pause-screen-btns{
        background-color: var(--yellow);
        color: black;
        font-size: 1.5rem;
        transition: 0.25s;
        cursor: pointer;
    }
    .pause-screen .pause-screen-btns:hover{
        color: white;
        background-color: var(--mint);
    }
    .pause-screen-active{
        transition: clip-path 1s ease-in-out;
        clip-path: circle(150% at 0 0);
    }
    .disabled{
        background-color: var(--mint);
        transition: 0.25s;
    }
    .btn-resume{
        margin-right: 20px;
    }
/*end main section*/